
{% extends "Teacher/base.html" %}

{% load static %}


        {% block content %}
         <div class="d-sm-flex align-items-center justify-content-between mb-4">
           
            
          </div>
          <div class="row">
          <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Students</h6>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush" id="dataTable">
                    <thead class="thead-light">
                      <tr>
                        <th>Full name</th>
                        <th>Picture</th>
                       
                      </tr>
                    </thead>
                
                    <tbody>
                      {% for s in myStudents %}
                      

                      <tr>
                        <th>{{ s.userId.nom }} {{ s.userId.prenom }}</th>
                        <th><img src="{{ s.userId.picture.url}}" height="80px" width="80px" ></th>
                      </tr>
             
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
       {% endblock %}


   
  {% block jsLinks %}
  <script src="{% static 'teacherDesign/vendor/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'teacherDesign/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
  {% endblock %}
  {% block sidebar %}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'PFES6:statistics' %}?uId={{user.id}}">
    <div class="sidebar-brand-icon">
      Online Class
    </div>
    <div class="sidebar-brand-text mx-3"></div>
  </a>
  <hr class="sidebar-divider my-0">
 <br>
  <div class="sidebar-heading">
    Actions
  </div>
 <li class="nav-item">
    <a class="nav-link " href="{% url 'PFES6:statistics' %}?uId={{user.id}}">
      <i class="fas fa-fw fa-home"></i>
      <span>Home</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:addCourseSubject' %}?uId={{user.id}}">
      <i class="fas fa-book-open"></i>
      <span>Add course</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadC' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload course</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadTD' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload TD</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadTP' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload TP</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadCorre' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload correction</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadHW' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Send homeWork</span>
    </a>
  </li>
 
 
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Views
  </div>
  <li class="nav-item">
   <a class="nav-link" href="{% url 'PFES6:allCourses' %}?idUs={{user.id}}">
      <i class="fas fa-fw fa-book"></i>
      <span>Yous courses</span>
    </a>
  </li>
  <li class="nav-item active">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
      aria-expanded="true" aria-controls="collapseBootstrap">
      <i class="fas fa-fw fa-users"></i>
      <span>Your students</span>
    </a>
    <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% for c in classeS %}
        <a class="collapse-item" href="{% url 'PFES6:displayAllStudents' %}?uId={{user.id}}&idC={{c.id}}">{{c.titleClass}}</a>
        {% endfor %}
      </div>
    </div>
  </li>
  
</ul>

{% endblock %}
  
