{% extends "Teacher/base.html" %}
} 
{% block content %}
          <div class="row" >
                 <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Courses File</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Title</th>
                        <th>Date of creation</th>
                        <th>File to download</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                     
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
             
                        <td><a href="" class="btn btn-sm btn-primary">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>


      <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">TD Files</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Title</th>
                        <th>Date of creation</th>
                        <th>File to download</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                     
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
             
                        <td><a href="" class="btn btn-sm btn-primary">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
           
		   
		   <div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">TP Files</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Title</th>
                        <th>Date of creation</th>
                        <th>File to download</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                     
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
             
                        <td><a href="" class="btn btn-sm btn-primary">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
			
			
			<div class="col-lg-12 mb-4">
              <!-- Simple Tables -->
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Correction File</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Title</th>
                        <th>Date of creation</th>
                        <th>File to download</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                     
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
             
                        <td><a href="" class="btn btn-sm btn-primary">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
			   
		   <div class="col-lg-12 mb-4">
              
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Home Work Files</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Title</th>
                        <th>Date of creation</th>
                        <th>File to download</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                     
                     
                      <tr>
                        <td></td>
                        <td></td>
                        <td></td>
             
                        <td><a href="" class="btn btn-sm btn-primary">Delete</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
          </div>
 {% endblock %}
          