{% extends "Teacher/base.html" %}

{% block content %}
          <div class="row" >
            <div class="col-lg-6" style="margin-left : 20%;">
            
              <div class="card mb-4" >
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Upload TD</h6>
                </div>
                <div class="card-body" >
                  <form method="POST" action="{% url 'PFES6:addingTD' %}"  enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <input type="hidden" name="idu" value="{{ user.id }}">
                    <div class="form-group">
                      <label for="exampleInputPassword1">The TD description</label>
					  <textarea name="desc" class="form-control" id="exampleInputPassword1" placeholder="Description" rows="4"></textarea>
                   
                    </div>
				
                 <div class="form-group">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="fileTD">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                    </div> 
                <div class="form-group">
                    <label for="select2SinglePlaceholder">Which course you would like to add this TD</label>
                    <select class="select2-single-placeholder form-control" name="course" id="select2SinglePlaceholder">
                      <option value="">Select</option>
                      {% for c in urCourses %}
                      <option >{{ c.titleClass }}</option>
                      {% endfor %}
                    </select>
                  </div>
                    <input type="submit" class="btn btn-primary" value="Upload" name="send">
					<input type="reset" value="Clear" id="clear" class="btn btn-default">
                  </form>
                </div>
              </div>

            

            </div>

            <div class="col-lg-6">
            

            </div>
          </div>
 {% endblock %}
        
 {% block jsLinks %}
  
     
 <script>
  $('#customFile').on('change',function(){
      //get the file name
      var fileName = $(this).val().replace('C:\\fakepath\\', " ");
      //replace the "Choose a file" label
      $(this).next('.custom-file-label').html(fileName);	
  })



</script>
{% endblock %} 
{% block sidebar %}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'PFES6:statistics' %}?uId={{user.id}}">
    <div class="sidebar-brand-icon">
      Online Class
    </div>
    <div class="sidebar-brand-text mx-3"></div>
  </a>
  <hr class="sidebar-divider my-0">
 <br>
  <div class="sidebar-heading">
    Actions
  </div>
 <li class="nav-item">
    <a class="nav-link " href="{% url 'PFES6:statistics' %}?uId={{user.id}}">
      <i class="fas fa-fw fa-home"></i>
      <span>Home</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:addCourseSubject' %}?uId={{user.id}}">
      <i class="fas fa-book-open"></i>
      <span>Add course</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadC' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload course</span>
    </a>
  </li>
 <li class="nav-item active">
    <a class="nav-link" href="{% url 'PFES6:formUploadTD' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload TD</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadTP' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload TP</span>
    </a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadCorre' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Upload correction</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:formUploadHW' %}?uId={{user.id}}">
      <i class="fas fa-file-pdf"></i>
      <span>Send homeWork</span>
    </a>
  </li>
 
 
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Views
  </div>
  <li class="nav-item">
   <a class="nav-link" href="{% url 'PFES6:allCourses' %}?idUs={{user.id}}">
      <i class="fas fa-fw fa-book"></i>
      <span>Yous courses</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
      aria-expanded="true" aria-controls="collapseBootstrap">
      <i class="fas fa-fw fa-users"></i>
      <span>Your students</span>
    </a>
    <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        {% for c in classeS %}
        <a class="collapse-item" href="{% url 'PFES6:displayAllStudents' %}?uId={{user.id}}&idC={{c.id}}">{{c.titleClass}}</a>
        {% endfor %}
      </div>
    </div>
  </li>
  
</ul>

{% endblock %}
