{% extends "student/base.html" %}
{% load static %}

{% block title %}
  <title>Course - {{ class.titleClass }}</title>
{% endblock %}

{% block sidebar %}
  <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'PFES6:student' %}?userId={{user.id}}">
      <div class="sidebar-brand-icon">
        Online Class
      </div>
      <div class="sidebar-brand-text mx-3"></div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'PFES6:student' %}?userId={{user.id}}">
        <i class="fas fa-book"></i>
        <span>My Courses</span></a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Actions
    </div>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'PFES6:student_join_course' %}?userId={{user.id}}">
        <i class="fas fa-plus-square"></i>
        <span>Join Course</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'PFES6:student_to_do' %}?userId={{user.id}}">
        <i class="fas fa-clipboard-check"></i>
        <span>To do</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
      Settings
    </div>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'PFES6:student_profile' %}?userId={{user.id}}">
        <i class="fas fa-user-edit"></i>
        <span>Edit Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-sign-out-alt"></i>
        <span>Logout</span>
      </a>
    </li>
    <hr class="sidebar-divider">
    <div class="version" id="version-ruangadmin"></div>
  </ul>
{% endblock %}

{% block content_block %}
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">{{ class.titleClass }}</h1>
    <h3 class="h5 mb-0 text-gray-800">Prof.{{ userT.prenom }} {{ userT.nom }}</h3>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- Course Tables -->
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Courses Files</h6>
        </div>  
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tbody>
              {% for c in course %}
              <tr>
                <td>{{c.course.titleClass}}</td>
                <td style="text-align:right"><a href="{{ c.courseFile.url }}" class="btn btn-sm btn-primary">Download</a></td>
              </tr>
              {% empty %}
              <tr>
                <td align="center" colspan="2">No course files yet !</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- TD Tables -->
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">TD Files</h6>
        </div>  
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tbody>
              {% for d in td %}
              <tr>
                <td>{{d.titleTd}}</td>
                <td style="text-align:right"><a href="{{ d.tdFile.url }}" class="btn btn-sm btn-primary">Download</a></td>
              </tr>
              {% empty %}
              <tr>
                <td align="center" colspan="5">No TD's yet !</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- TP Tables -->
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">TP Files</h6>
        </div>  
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tbody>
              {% for p in tp %}
              <tr>
                <td>{{p.titleTp}}</td>
                <td style="text-align:right"><a href="{{ p.tpFile.url }}" class="btn btn-sm btn-primary">Download</a></td>
              </tr>
              {% empty %}
              <tr>
                <td align="center" colspan="5">No TP's yet !</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- TP Tables -->
      <div class="card" style="margin: auto;">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Corrections Files</h6>
        </div>  
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tbody>
              {% for co in corr %}
              <tr>
                <td>{{co.title}}</td>
                <td style="text-align:right"><a href="{{ co.corrFile.url }}" class="btn btn-sm btn-primary">Download</a></td>
              </tr>
              {% empty %}
              <tr>
                <td align="center" colspan="5">No Corrections yet !</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mb-4">
      <!-- Todo Tables -->
      <div class="card">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Homeworks</h6>
        </div>  
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <tbody>
              {% for t in todo %}
              <tr>
                <td>{{ t.title }}</td>
                <td style="text-align:center"><a href="{{ t.TodoTFile.url }}" class="btn btn-sm btn-primary">Download</a></td>
                <td style="text-align:right"><a href="#" class="btn btn-sm btn-success">Put your report</a></td>
              </tr>
              {% empty %}
              <tr>
                <td align="center" colspan="5">No Homeworks yet !</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer"></div>
      </div>
    </div>
  </div>
  
{% endblock %}
