{% extends "student/base.html" %}
{% load static %}

{% block sidebar %}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'PFES6:student' %}?userId={{user.id}}">
    <div class="sidebar-brand-icon">
      Online Class
    </div>
    <div class="sidebar-brand-text mx-3"></div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:student' %}?userId={{user.id}}">
      <i class="fas fa-book"></i>
      <span>My Courses</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Actions
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:student_join_course' %}?userId={{user.id}}">
      <i class="fas fa-plus-square"></i>
      <span>Join Course</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:student_to_do' %}?userId={{user.id}}">
      <i class="fas fa-clipboard-check"></i>
      <span>To do</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Settings
  </div>
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'PFES6:student_profile' %}?userId={{user.id}}">
      <i class="fas fa-user-edit"></i>
      <span>Edit Profile</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin"></div>
</ul>
{% endblock %}

{% block content_block %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">My Profile</h1>
</div>

<div class="d-sm-flex align-items-center justify-content-between mb-4">

<div class="col">
<div class="row">
  <div class="col mb-3">
    <div class="card">
      <div class="card-body">
        <div class="e-profile">
          <div class="row">
            <div class="col-12 col-sm-auto mb-3">
              <div class="mx-auto" style="width: 140px;">
                  <img src="{{ user.picture.url }}" width="100%" height="140px" alt="">
                <!--div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                  <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                </div-->
              </div>
            </div>
            <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
              <div class="text-center text-sm-left mb-2 mb-sm-0">
                <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.prenom}} {{user.nom}}</h4>
                <p class="mb-0">SMI</p>
                <div class="mt-2">
                  <form id="picup" method="POST" action="/student/edit_picture" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="text" name="userId" value="{{user.id}}" hidden>
                    <input type="file" id="picture_pick" name="picture" hidden>
                    <button class="btn btn-primary" id="picchange" type="button">
                      <i class="fa fa-fw fa-camera"></i>
                      <span>Change Picture</span>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content pt-3">
            <div class="tab-pane active">
              <form class="form" method="POST" action="/student/edit_profile">
                {% csrf_token %}
                <input type="text" name="userId" value="{{user.id}}" hidden>
                <div class="row">
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>First Name</label>
                          <input class="form-control" type="text" name="prenom" value="{{user.prenom}}" required>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input class="form-control" type="text" name="nom" value="{{user.nom}}" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Email</label>
                          <input class="form-control" type="text" name="email" value="{{user.email}}" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 mb-3">
                    <div class="mb-2"><b>Change Password</b></div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>Current Password</label>
                          <input class="form-control" name="oldpass" type="password" required>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label>New Password</label>
                          <input class="form-control" name="newpass" type="password" required>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <label>Confirm <span class="d-none d-xl-inline">Password</span></label>
                          <input class="form-control" name="newpass2" type="password" required></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
{% endblock %}