{% extends "student/base.html" %}
{% load static %}

{% block sidebar %}
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'PFES6:student' %}?userId={{user.id}}">
    <div class="sidebar-brand-icon">
      Online Class
    </div>
    <div class="sidebar-brand-text mx-3"></div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'PFES6:student' %}?userId={{user.id}}">
      <i class="fas fa-book"></i>
      <span>My Courses</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Actions
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:student_join_course' %}?userId={{user.id}}">
      <i class="fas fa-plus-square"></i>
      <span>Join Course</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:student_to_do' %}?userId={{user.id}}">
      <i class="fas fa-clipboard-check"></i>
      <span>To do</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Settings
  </div>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'PFES6:student_profile' %}?userId={{user.id}}">
      <i class="fas fa-user-edit"></i>
      <span>Edit Profile</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span>
    </a>
  </li>
  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin"></div>
</ul>
{% endblock %}

{% block content_block %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">My Courses</h1>
</div>

<div class="row mb-3">

  <a  href="{% url 'PFES6:student_join_course' %}?userId={{user.id}}" class="col-xl-3 col-md-6 mb-4 text-gray-800">
    <div class="card index_card h-100">
      <div style="margin: auto;">
        <i class="fas fa-plus fa-5x"></i>
      </div>
    </div>
  </a>
  {% for c in join %}
  <a href="{% url 'PFES6:student_course' %}?userId={{user.id}}&courseId={{c.classId.id}}" class="col-xl-3 col-md-6 mb-4">
    <div class="card index_card h-100">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{c.classId.titleClass}}</div>
            <div class=" mb-1 text-muted">{{c.classId.level}}</div>
            <div class="mt-2 mb-0 text-muted text-xs">Prof.{{c.classId.userId.prenom}} {{c.classId.userId.prenom}}</div>
            
            <form method="POST" action="/student/delete_course">
              {% csrf_token %}
              <input type="text" name="todelete" value="{{c.id}}" hidden>
              <input type="text" name="userId" value="{{user.id}}" hidden>
              <button class="mt-2 mb-0 text-xs leave-course" type="submit">Leave this course</button>
            </form>
          </div>
          <div class="col-auto" style="align-self: flex-start;">
            <img class="img-profile rounded-circle" src="{{ c.classId.userId.picture.url }}" width="58px" height="58px" alt="">
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
  </div>
  {% endblock %}
